<h1>{{ characterData }}</h1>
<img class="card-img-top" src="{{ charInfo.imageUrl }}" alt="Luffy" width="250px" height="250px">
<div class="card-body">
  <h5 class="card-title">{{ charInfo.heroName }}</h5>
  <p class="card-text">{{ charInfo.heroDescription }}</p>
  <p class="card-text">Powers: {{ charInfo.heroPower }}</p>
  <!-- <button type="button" class="btn btn-outline-primary w-20" (click)="characterShout()">Change via Output</button> -->
  <button type="button" class="btn btn-outline-primary w-20" (click)="changeTaglineViaVC()">Change via VC</button>
  <button type="button" class="btn btn-outline-primary w-20" (click)="changeTaglineViaService()">Change Via
    Service</button>
</div>
